

.hide {
    display: none;
}

body{
    height: 100%;
    background-color: #22d3ee;
}

.header-img {

    display: flex;
    width: 100%;
    max-width: 600px;
    margin-inline: auto;
    filter: drop-shadow(5px 5px 20px rgba(0,0,0,0.2));
}

.container{
    flex: 1;
    position: relative;
    width: 100%;
    margin-inline: auto;
}

.image-1 { 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 175px;
}



.btn{
    position: absolute;
    top: calc(-100% - 5rem);
    min-width: 120px;
    padding: 0.75rem 1rem;
    font-size: 1.25rem;
    outline: none;
    border: none;
    background-color: #cffafe;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    background-color: #57959b;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.btn-yes {
    left: 50%;
    transform: translateX(calc(100% - 1rem));
    z-index: 1;
}
.btn-no {
    left: calc(50% + 1rem);
    transition: all .5s ease;
    z-index: 2;
}